.App {
  width: 100vw;
  height: 100vh;
  background: url(./Background.png) no-repeat center center fixed;
  position: relative;
  overflow: hidden
}

.star {
  position: absolute;
  border-radius: 50%;
  filter: blur(0.4px);
  animation: float 5s ease-in-out infinite;
  opacity: 0.7;
  transform: translate(-50%, -50%);
}

@keyframes float {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  50% {
    transform: translateY(-1px) scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
